In [3]:
import sys
sys.version

'3.6.0 |Anaconda custom (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)]'

In [8]:
import pandas as pd
import numpy as np
import geopy

df = pd.read_csv(r'C:\Users\2011940\PycharmProjects\Udemy_Applications\Data\Supermarkets.csv')

df.head()

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12

In [3]:
from geopy.geocoders import Nominatim

In [12]:
nom = Nominatim()

In [7]:
n = nom.geocode("3666 21st St San Francisco CA 94114")

In [13]:
df["Full Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]

df['Geocode'] = df['Full Address'].apply(nom.geocode)

df.head()